<h4 class="text-white mb-4">ShopEasy</h4>

<nav class="nav flex-column">
    <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="nav-link text-white" href="products">
        Products
    </NavLink>

    <NavLink class="nav-link text-white" href="orders">
        My Orders
    </NavLink>

    <NavLink class="nav-link text-white" href="admin/orders">
        Admin
    </NavLink>
</nav>
